<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.svg" | prepend: site.baseurl }}" class="img-homep">
            </div>
        <div class="col-lg-8 col-lg-offset-2"> 
        <hr>
        <h1>Need a Slogan Here</h1>
        <h3>Scroll down pls (start finding button here)</h3>            
        </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->